<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f5e5e3">  <td>18/11/25 04:24:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.ToVerifBillPayPageTitle()[pri:5, instance:com.rt.test.MainPageTest@3911c2a7]">ToVerifBillPayPageTitle</td> 
  <td>main@1302227152</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/11/25 04:24:05</td>   <td>5509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.ToVerifyChangePasswordPageTitle()[pri:7, instance:com.rt.test.MainPageTest@3911c2a7]">ToVerifyChangePasswordPageTitle</td> 
  <td>main@1302227152</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/11/25 04:24:00</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.ToVerifyChangeUserNamePageTitle()[pri:6, instance:com.rt.test.MainPageTest@3911c2a7]">ToVerifyChangeUserNamePageTitle</td> 
  <td>main@1302227152</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/11/25 04:24:11</td>   <td>10933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.ToVerifyGrantAccessPageTitle()[pri:8, instance:com.rt.test.MainPageTest@3911c2a7]">ToVerifyGrantAccessPageTitle</td> 
  <td>main@1302227152</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/11/25 04:23:55</td>   <td>-5179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.ToVerifyHealthSummaryPageTitle()[pri:3, instance:com.rt.test.MainPageTest@3911c2a7]">ToVerifyHealthSummaryPageTitle</td> 
  <td>main@1302227152</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/11/25 04:24:16</td>   <td>16280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.ToVerifyHistoryLogPageTitle()[pri:9, instance:com.rt.test.MainPageTest@3911c2a7]">ToVerifyHistoryLogPageTitle</td> 
  <td>main@1302227152</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/11/25 04:24:22</td>   <td>21694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.ToVerifyLoginPageTitle()[pri:10, instance:com.rt.test.MainPageTest@3911c2a7]">ToVerifyLoginPageTitle</td> 
  <td>main@1302227152</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/11/25 04:23:55</td>   <td>-5075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.ToVerifyMydocumentPageTitle()[pri:4, instance:com.rt.test.MainPageTest@3911c2a7]">ToVerifyMydocumentPageTitle</td> 
  <td>main@1302227152</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/11/25 04:23:55</td>   <td>-5284</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.ToVerifySentMessagesPageTitle()[pri:2, instance:com.rt.test.MainPageTest@3911c2a7]">ToVerifySentMessagesPageTitle</td> 
  <td>main@1302227152</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/11/25 04:23:49</td>   <td>-10482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainPageTest.ToVerifykHomePageTitle()[pri:1, instance:com.rt.test.MainPageTest@3911c2a7]">ToVerifykHomePageTitle</td> 
  <td>main@1302227152</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>18/11/25 04:24:23</td>   <td>23514</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestClass.cleanupclass()[pri:0, instance:com.rt.test.MainPageTest@3911c2a7]">&lt;&lt;cleanupclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1302227152</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/11/25 04:23:48</td>   <td>-11446</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainPageTest.initClass()[pri:0, instance:com.rt.test.MainPageTest@3911c2a7]">&gt;&gt;initClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1302227152</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>18/11/25 04:23:36</td>   <td>-24113</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTestClass.initTest()[pri:0, instance:com.rt.test.MainPageTest@3911c2a7]">&gt;&gt;initTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1302227152</td>   <td></td> </tr>
</table>
