<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>gGastroPortal-Test-Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7cbad">  <td>18/11/26 02:03:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTestClass.initTest()[pri:0, instance:com.rt.test.LoginPageTest@76508ed1]">&gt;&gt;initTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1390869998</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/11/26 02:03:52</td>   <td>10808</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.initClass()[pri:0, instance:com.rt.test.LoginPageTest@76508ed1]">&gt;&gt;initClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1390869998</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/11/26 02:03:52</td>   <td>11457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.multipleValidLogin(java.lang.String, java.lang.String)[pri:0, instance:com.rt.test.LoginPageTest@76508ed1]">multipleValidLogin</td> 
  <td>main@1390869998</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/11/26 02:04:00</td>   <td>18894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.multipleValidLogin(java.lang.String, java.lang.String)[pri:0, instance:com.rt.test.LoginPageTest@76508ed1]">multipleValidLogin</td> 
  <td>main@1390869998</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/11/26 02:04:07</td>   <td>26352</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.TearDown()[pri:0, instance:com.rt.test.LoginPageTest@76508ed1]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1390869998</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>18/11/26 02:04:07</td>   <td>26352</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestClass.cleanupclass()[pri:0, instance:com.rt.test.LoginPageTest@76508ed1]">&lt;&lt;cleanupclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1390869998</td>   <td></td> </tr>
</table>
